exportPattern("^[[:alpha:]]+")
import(raster)
import(gridExtra)
import(grid)
import(ggplot2)
import(lattice)
import(plyr)
import(mvtnorm)
import(R.utils)
import(fields)
import(MASS)
import(sp)
import(np)
import(tictoc)
import(foreach)
import(doParallel)